<% var data = {
    title: "Uber",
    themeClass: "",
    }; %>
    <%= _.template(require('./../includes/header.html').default)(data) %>
        <div class="section fullscreen main-block">
          <div class="subheader-row hide-mobile">
            <div class="subheader">
              <div class="logo-block">
                <div class="logo"></div>
                <div class="text">Официальный партнер Uber в Москве</div>
              </div>
              <div class="callback-block">
                <div class="phone-block">
                  <div class="text">
                    Звоните нам ежедневно
                  </div>
                  <div class="phone">
                    8 945 797 09 88
                  </div>
                </div>
                <a class="btn call-back">
                  Заказать звонок
                </a>
              </div>
            </div>
          </div>
          <div class="subheader-mobile-row hide-desktop">
            <div class="logo">

            </div>
            <div class="call-back-block">
              <div class="phone">
                8 945 797 09 88
              </div>
              <a class="btn call-back-mobile">
                Заказать звонок
              </a>
            </div>
          </div>
            <div class="main-content">
                <div class="container-medium">
                    <div class="row animate-block visible">
                        <div class="col w-100 effect-fade text-align-center">
                            <h1 class="color-white no-margin">КОМПАНИЯ UBER PARTNERS!</h1>
                            <h2 class="color-white no-margin">ПРИГЛАШАЕМ ВОДИТЕЛЕЙ! НА СВОЕМ АВТО!</h2>
                            <p class="color-white font-weight-normal hide-mobile">Компания UBER  динамически развивающаяся. Компания на рынке занимает лидирующее место среди таксомоторных компаний, Компания абсолютно прозрачная вы можете контролировать все процессы у себя в личном кабинете. Бонуcная система.Помимо выполненной работы по заказам, компания начисляет бонусы запиковое время.</p><br>
                            <p class="color-white font-weight-normal hide-mobile"> Мы одни из партнеров и зарекомендовали себя как одна из лучших команд в городе Москве.  Водители у насзарабатывают от 80000- 120000 в месяц.</p>
                            <a class="btn" href="#1">Отправить заявку</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-bg"></div>
        </div>

        <div class="section">
            <div class="container">
              <h2 class="h2">Как это работает</h2>
              <div class="how-work-block">
                <div class="row">
                  <div class="col w-25 w-50-tablet">
                    <div class="item">
                      <div class="icon"><img alt="" src="./img/waiting.svg" data-loaded="true"></div>
                      <div class="mobile-wrap">
                        <div class="heading">Прочитай задание внимательно</div>
                        <div class="description">Думаю у тебя не займет это больше двух-трех минут</div>
                      </div>
                    </div>
                  </div>
                  <div class="col w-25 w-50-tablet">
                    <div class="item">
                      <div class="icon"><img alt="" src="./img/delivery-truck.svg" data-loaded="true"></div>
                      <div class="mobile-wrap">
                        <div class="heading">Изучи весь макет заранее</div>
                        <div class="description">Подумай как это будет работать на разных разрешениях и при скролле</div>
                      </div>
                    </div>
                  </div>
                  <div class="col w-25 w-50-tablet">
                    <div class="item">
                      <div class="icon"><img alt="" src="./img/secure.svg" data-loaded="true"></div>
                      <div class="mobile-wrap">
                        <div class="heading">Сделай хорошо</div>
                        <div class="description">Чтобы мы могли тебе доверить подобные задачи в будущем</div>
                      </div>
                    </div>
                  </div>
                  <div class="col w-25 w-50-tablet">
                    <div class="item">
                      <div class="icon"><img alt="" src="./img/money-bags.svg" data-loaded="true"></div>
                      <div class="mobile-wrap">
                        <div class="heading">Получи предложение</div>
                        <div class="description">Ну тут все просто, не я придумал правила, но думаю так и будет)))</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="how-work-second-block">
                <div class="text-block">
                      <div class="heading">Круто, ты дошел до третьего блока</div>
                      <p>63% опрошенных пользовались кредитами из-за того, что не могли покрыть непредвиденные расходы свыше 15 000 ₽.</p>
                      <p>Доступ к заработанным деньгам помогает отказаться от кредитов и экономить деньги на процентах и штрафах.</p>

                </div>
                <div class="image-block">
                    <div class="photo">

                    </div>
                </div>
              </div>
            </div>
          </div>

          <div class="section bg-gray">
            <div class="container">
                <div class="reviews">
                    <div class="review-slider swiper" id="review_slider">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                            <a href="#1" class="item">
                              <div class="head">
                                <div class="review_img" style="background: url(./img/review1.png);">
                                </div>
                                <div class="name">Константинов Михаил Павлович</div>
                                <div class="city">Санкт-Петербург</div>
                              </div>
                              <div class="description">Каждый из нас понимает очевидную вещь: перспективное планирование предоставляет широкие возможности для анализа существующих паттернов поведения. В своём стремлении улучшить пользовательский опыт мы </div>
                            </a>
                          </div>
                          <div class="swiper-slide">
                            <a href="#1" class="item">
                              <div class="head">
                                <div class="review_img" style="background: url(./img/review2.png);">
                                </div>
                                <div class="name">Константинов Михаил Павлович</div>
                                <div class="city">Санкт-Петербург</div>
                              </div>
                              <div class="description">Каждый из нас понимает очевидную вещь: перспективное планирование предоставляет широкие возможности для анализа существующих паттернов поведения. В своём стремлении улучшить пользовательский опыт мы упускаем, что активно развивающиеся страны третьего мира призваны к ответу.</div>
                            </a>
                          </div>
                          <div class="swiper-slide">
                            <a href="#1" class="item">
                              <div class="head">
                                <div class="review_img" style="background: url(./img/review3.png);">
                                </div>
                                <div class="name">Константинов Михаил Павлович</div>
                                <div class="city">Санкт-Петербург</div>
                              </div>
                              <div class="description">Каждый из нас понимает очевидную вещь: перспективное планирование предоставляет широкие возможности для анализа существующих паттернов поведения.</div>
                            </a>
                          </div>
                          <div class="swiper-slide">
                            <a href="#1" class="item">
                              <div class="head">
                                <div class="review_img" style="background: url(./img/review4.png);">
                                </div>
                                <div class="name">Константинов Михаил Павлович</div>
                                <div class="city">Санкт-Петербург</div>
                              </div>
                              <div class="description">
                                Каждый из нас понимает очевидную вещь: перспективное планирование предоставляет широкие возможности для анализа существующих паттернов поведения. В своём стремлении улучшить пользовательский опыт мы
                              </div>
                            </a>
                          </div>
                          <div class="swiper-slide">
                            <a href="#1" class="item">
                              <div class="head">
                                <div class="review_img" style="background: url(./img/review5.png);">
                                </div>
                                <div class="name">Константинов Михаил Павлович</div>
                                <div class="city">Санкт-Петербург</div>
                              </div>
                              <div class="description">
                                Каждый из нас понимает очевидную вещь: перспективное планирование предоставляет широкие возможности для анализа существующих паттернов поведения. В своём стремлении улучшить пользовательский опыт мы
                              </div>
                            </a>
                          </div>
                        </div>
                    <div class="reviews-slider-pagination">
                        <span class="swiper-pagination-bullet"></span>
                        <span class="swiper-pagination-bullet"></span>
                        <span class="swiper-pagination-bullet"></span>
                        <span class="swiper-pagination-bullet"></span>
                        <span class="swiper-pagination-bullet"></span>
                    </div>
                  </div>
                  <div class="swiper-button-next swiper-button">
                  </div>
                  <div class="swiper-button-prev swiper-button">
                  </div>
                </div>
            </div>
        </div>

        <div class="section">
          <div class="container-medium">
            <h2 class="h2">Вопросы и ответы</h2>
            <div class="questions-block">
              <div class="question-toggle-block">
                <div class="toggle-button">
                  <div class="toggle-caption">
                    <div class="name">Подтверждено: сознание наших соотечественников не замутнено пропагандой?</div>
                    <div class="plus"></div>
                  </div>
                </div>
                <div class="toggle-content">
                  <p>
                    В частности, дальнейшее развитие различных форм деятельности позволяет выполнить важные задания по разработке дальнейших направлений развития. Предварительные выводы неутешительны: экономическая повестка сегодняшнего дня говорит о возможностях существующих финансовых и административных условий.
                  </p>
                </div>
              </div>
              <div class="question-toggle-block">
                <div class="toggle-button">
                  <div class="toggle-caption">
                    <div class="name">Прототип нового сервиса - это как трубный призыв?</div>
                    <div class="plus"></div>
                  </div>
                </div>
                <div class="toggle-content">
                  <p>
                    В частности, дальнейшее развитие различных форм деятельности позволяет выполнить важные задания по разработке дальнейших направлений развития. Предварительные выводы неутешительны: экономическая повестка сегодняшнего дня говорит о возможностях существующих финансовых и административных условий.
                  </p>
                </div>
              </div>
              <div class="question-toggle-block">
                <div class="toggle-button">
                  <div class="toggle-caption">
                    <div class="name">Частокол на границе продолжает удивлять?</div>
                    <div class="plus"></div>
                  </div>
                </div>
                <div class="toggle-content">
                  <p>
                    В частности, дальнейшее развитие различных форм деятельности позволяет выполнить важные задания по разработке дальнейших направлений развития. Предварительные выводы неутешительны: экономическая повестка сегодняшнего дня говорит о возможностях существующих финансовых и административных условий.
                  </p>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="section bg-gray">
          <div class="container">
            <div class="comments">
              <div class="item">
                <div class="title">
                  Опрошенных пользовались микрокредитами
                </div>
                <div class="description">Не могли покрыть внезапные траты свыше 7000 ₽. Доступ к заработанным деньгам помогает отказаться от кредитов и экономить деньги на процентах и штрафах Не могли покрыть внезапные траты свыше 7000 ₽. Доступ к заработанным деньгам помогает отказаться от кредитов и экономить деньги на процентах и штрафах</div>
              </div>
              <div class="item">
                <div class="title">
                  Опрошенных пользовались микрокредитами
                </div>
                <div class="description">Не могли покрыть внезапные траты свыше 7000 ₽. Доступ к заработанным деньгам помогает отказаться от кредитов и экономить деньги на процентах и штрафах Не могли покрыть внезапные траты свыше 7000 ₽. Доступ к заработанным деньгам помогает отказаться от кредитов и экономить деньги на процентах и штрафахНе могли покрыть внезапные траты свыше 7000 ₽. Доступ к заработанным деньгам помогает отказаться от кредитов и экономить деньги на процентах и штрафах</div>
              </div>
              <div class="item">
                <div class="title">
                  Опрошенных пользовались микрокредитами
                </div>
                <div class="description">
                  Не могли покрыть внезапные траты свыше 7000 ₽. Доступ к заработанным деньгам помогает отказаться от кредитов и экономить деньги на процентах и штрафах Не могли покрыть внезапные траты свыше 7000 ₽. Доступ к заработанным деньгам помогает отказаться от кредитов и экономить деньги на процентах и штрафах
                </div>
              </div>
              <div class="item">
                <div class="title">
                  Опрошенных пользовались микрокредитами
                </div>
                <div class="description">
                  Не могли покрыть внезапные траты свыше 7000 ₽. Доступ к заработанным деньгам помогает отказаться от кредитов и экономить деньги на процентах и штрафах Не могли покрыть внезапные траты свыше 7000 ₽. Доступ к заработанным деньгам помогает отказаться от кредитов и экономить деньги на процентах и штрафах
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="section">
          <div class="container-super-small">
            <h2 class="h2">Отправь форму</h2>
            <div class="form">
              <form id="feedback_form" action="#1" methpd="post">
                <div class="form-block">
                  <div class="input-block">
                    <label class="field empty">
                      <span class="label">
                        Имя
                      </span>
                      <input id="name" type="text" class="placeholder req" name="f_name" data-error_message="helperText" data-placeholder="Имя">
                      <span class="error-message">
                        Не заполнено
                      </span>
                    </label>
                  </div>
                  <div class="input-block">
                    <label class="field empty">
                      <span class="label">
                        Телефон
                      </span>
                      <input id="phone" type="tel" class="placeholder req phone" name="f_phone" data-error_message="helperText" data-placeholder="Имя">
                      <span class="error-message">
                        Не заполнено
                      </span>
                    </label>
                  </div>
                  <div class="input-block">
                    <div class="checkbox">
                      <input type="checkbox" id="agreement" class="req" name="f_agreement" checked>
                      <label for="agreement">Согласен, отказываюсь</label>
                    </div>

                  </div>
                  <div class="input-block">
                    <button type="submit" class="form_button btn">
                      Отправить
                    </button>
                  </div>

                </div>
              </form>

            </div>
          </div>
        </div>
        <%= _.template(require('./../includes/footer.html').default)(data) %>
