  * {
    outline: none;
    box-sizing: border-box;
  }

  body {
      padding: 0;
      margin: 0;
      font-family: $fontMedium;
  }

.section {
    display: block;
    position: relative;
    z-index: 10;
    margin: 0;
    padding: 80px 0;
    background-color: $colorWhite;
    overflow: hidden;

    &.fullscreen {
    height: 100vh;
    min-height: 500px;
    }
}

.main-block {
    .main-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 99;

        p {
          line-height: 28px;
          margin: 0;
          padding: 0;

          @include xs-mobile {
            max-width: 288px;
            margin: 0 auto;
          }
        }

        .btn {
          margin-top: 92px;

          @include mobile {
            margin-top: 60px;
          }

          @include xs-mobile {
            margin-top: 26px;
          }
        }
    }
    .main-bg {
        position: absolute;
        z-index: 3;
        left: 0;
        top: 0;
        bottom: 0;
        margin: 0;
        width: 100%;
        min-height: 500px;
        transition: filter .6s ease;
        background-image: url(../img/main_bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

  .subheader-row {
    background-color: rgba(0,0,0,.6);
    padding: 16px 15px;
    color: #fff;
    height: 87px;
    position: relative;
    z-index: 100;

    .subheader {
      max-width: 950px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo-block {
        .logo {
          width: 285px;
          height: 32px;
          background: url("../img/uber-logo.svg") left center no-repeat;
          background-size: contain;
        }
        .text {
          margin-top: 6px;
          font-size: 13px;
        }
      }
      .callback-block {
        display: flex;
        align-items: center;
        .phone-block {
          margin-right: 30px;
          .text{
            font-size: $indent12;
          }
          .phone {
            font-size: $indent22;
            margin-top: 10px;
          }
        }
        .call-back {
          padding: $indent16 $indent24;
        }
      }
    }
  }
  .subheader-mobile-row {
    background-color: rgba(0, 0, 0, .6);
    padding: 16px 15px;
    color: #fff;
    height: 87px;
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      width: 130px;
      height: 32px;
      background: url("../img/uber-logo.svg") left center no-repeat;
      background-size: contain;
    }

    .call-back-block {
      text-align: center;
      .phone {

      }
      .call-back-mobile {
        padding: 5px 10px;
        margin-top: 8px;
      }
    }

  }
}
  
.footer {
  font-size: 18px;
  color: $colorBlack;
  font-family: $fontBase;
  border-top: 1px solid #ECEFF2;
}

p {
  padding: 0;
  margin: 0;
}