.reasons-block {
  .reasons-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -35px;
      .item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 1 50%;
        margin: 0px 0px 25px 0px;
        padding: 0px 35px;

        @include mobile {
          flex: 0 1 100%;
        }
        .img-block {
          width: 116px;
          height: 116px;
          background-color: #1EACC7;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 25px;

          @include desktop-smaller {
            width: 90px;
            height: 90px;
          }
          .icon {
            background-position: 50%;
            background-repeat: no-repeat;
            display: block;
            height: 100%;
            width: 100%;
          }
        }
        .description {
          max-width: 371px;
          line-height: 21px;

          .title {
            color: #1EACC7;
            font-size: 17px;
            font-weight: 600;
          }
          .text {
            font-size: 15px;
            font-weight: 600;
          }
        }
      }
    }
}
