.section {
    display: block;
    position: relative;
    z-index: 10;
    margin: 0;
    padding: $indent80 0;
    background-color: $colorWhite;
    overflow: hidden;
  
  
    @include mobile {
      padding: $indent56 0;
    }
  }

  h1, .h1 {
    @extend .headline-1;
  }

  h2, .h2 {
    @extend .headline-2;
  }

  .container {
    margin: 0 auto;
    padding: 1px 15px;
    max-width: 1216px;
  }

  .container-small {
    margin: 0 auto;
    padding: 1px 15px;
    max-width: 746px;

    @include only-mobile {
        max-width: 476px;
    }

    @include xs-mobile {
        max-width: 288px;
    }
  }

  .container-medium {
    margin: 0 auto;
    padding: 1px 15px;
    max-width: 1038px;
  }

  .container-super-small {
    margin: 0 auto;
    padding: 1px 15px;
    max-width: 830px;
  }

  .btn {
    cursor: pointer;
    font-size: $indent20;
    line-height: $indent24;
    display: inline-flex;
    width: auto;
    padding: $indent20 $indent40;
    background: $colorWhite;
    color: $colorBlack;
    text-decoration: none;
    font-family: $fontBold;
    border-radius: $indent4;
    transition: all .3s ease;

    &:hover {
        background: $colorLightGray;
    }


  }