$fontBase: 'GraphikRegular';
$fontMedium: 'GraphikLight';
$fontBold: 'GraphikBold';

$colorPrimary: #5E646A;
$colorPrimaryHover: #397DFF;

$colorDisabled: #CFD3D9;

$colorSecondary: #2171F7;
$colorSecondaryHover: #075AE4;
$colorLink: #2A6CEA;

$colorTertiary: #EBF3FF;
$colorTertiaryHover: #CFE1FC;

$colorBlackGray: #333A4E;
$colorDarkGray: #5E646A;
$colorMidGray: #83898F;
$colorLightGray: #ECEFF2;
$colorExtraLightGray: #F6F8FA;
$colorWhite: #FFFFFF;
$colorBg: #F1F4F7;
$colorBgLight: #F6F9FC;
$colorBlue: $colorSecondary;
$colorYellow: #FEC842;
$colorLightYellow: #FFF7E2;
$colorGreen: #12DE33;
$colorBlack: #191C1F;

$indent4: 4px; 
$indent8: 8px;
$indent10: 10px;
$indent12: 12px;
$indent14: 14px;
$indent16: 16px;
$indent17: 17px;
$indent18: 18px;
$indent20: 20px;
$indent22: 22px;
$indent24: 24px;
$indent30: 30px;
$indent32: 32px;
$indent40: 40px;
$indent48: 48px;
$indent56: 56px;
$indent60: 60px;
$indent62: 62px;
$indent80: 80px;
$indent100: 100px;
